<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet"> 
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>To do list</title>
</head>
<body>

    <div id="app" class="container">

        <!-- header -->
        <header>
            <h1>PERSONAL TODO LIST</h1>
        </header>

        <main>
            <!-- input pe raggiungere -->
            <section class="addTodo">
                <h2>Aggiungi un nuovo to-do alla lista:</h2>

                <input type="text"
                 placeholder="scrivi qui"
                 v-model="newTodo"
                 v-on:keyup.enter="addNewTodo">

                <button @click="addNewTodo">Aggiungi</button>
            </section>

            <!-- lista todo -->
            <section class="todoList-container">
                <h2>LISTA DEI TUOI TO-DO</h2>

                <!-- lista -->

                <ul class="todo-list">

                    <li class="todo" v-for="(el, index) in todos" :class="{completed: el.completed}" @click="changeComplete(index)">
                        <span class="text">{{ el.text }}</span>
                        <i class="fas fa-trash delete" @click="todoRemove(index)"></i>
                    </li>

                </ul>

            </section>
        </main>

    </div>
    






    <!-- js -->
    <script src="./js/script.js"></script>
</body>
</html>